In [68]:
#Se importan las librerías y módulos necesarios
import numpy as np
import pandas as pd
import re
import calendar
import datetime
import warnings
warnings.filterwarnings("ignore")
from rsc.functions import *

In [43]:
#Se carga el csv seleccionado para crear el dataframe
brew_df = pd.read_csv('./input/datasets_435758_1357819_checkins.csv', engine = 'python')

In [44]:
#Se realizan diferentes comprobaciones para analizar las columnas y los registros
#print(brew_pd.shape)
#print(brew_pd.dtypes)

In [45]:
#brew_pd.duplicated().value_counts()

In [46]:
#brew_pd.describe()

In [47]:
#brew_pd.isna().sum()

In [48]:
#brew_pd.head()

In [49]:
#brew_df.columns

In [50]:
#Sobreescribo el df para quedarme con las columnas que son más significativas
brew_df_resume=brew_df[['checkin_id', 'created_at', 'rating_score', 'user_id', 'beer_id', 'beer_name', 'beer_style', 'beer_slug', 'brewery_name', 'brewery_country', 'brewery_city', 'venue_country', 'venue_city']]

In [51]:
brew_df_resume.head()

,checkin_id,created_at,rating_score,user_id,beer_id,beer_name,beer_style,beer_slug,brewery_name,brewery_country,brewery_city,venue_country,venue_city
0,920012809,"Sun, 19 Jul 2020 21:00:16 +0000",4.00,1279815,3459729,Доза [Mango + Passion Fruit],Sour - Fruited,4brewers-doza-mango-passion-fruit,4BREWERS,Russia,Vladimir,Беларусь,Minsk
1,919968334,"Sun, 19 Jul 2020 19:45:46 +0000",4.00,1279815,3871898,Доза [Mango + Peach + Orange],Sour - Fruited,4brewers-doza-mango-peach-orange,4BREWERS,Russia,Vladimir,Беларусь,Minsk
2,919919437,"Sun, 19 Jul 2020 18:27:00 +0000",3.75,1279815,3861542,Lobster On Acid,Sour - Fruited Gose,wild-lab-lobster-on-acid,Wild Lab,Russia,Moscow,Беларусь,Minsk
3,919910138,"Sun, 19 Jul 2020 18:11:06 +0000",4.25,1279815,2575473,Жажда [Облепиха],Sour - Fruited Gose,4brewers-zhazhda-oblepiha,4BREWERS,Russia,Vladimir,Беларусь,Minsk
4,919904871,"Sun, 19 Jul 2020 18:01:35 +0000",4.25,1279815,3840474,Balloon,Sour - Fruited,red-button-brewery-baloon,Red Button Brewery,Russia,Moscow,Беларусь,Minsk

In [52]:
# Cambio el tipo de dato de la columna por una fecha
brew_df_resume['created_at']=pd.to_datetime(brew_df_resume['created_at'])

In [53]:
#Aplico una función para quedarme con  el año
brew_df_resume['created_at']=brew_df_resume['created_at'].apply(lambda x: x.strftime('%Y'))

In [54]:
#Cambio los valores nulos porque la función traductor me daba una error 
brew_df_resume['venue_country'] = brew_df_resume['venue_country'].fillna(0).astype(str)

In [55]:
#No he sabido importarme la función del archivo .py
def translate_cyrillyc(text):
        symbols = (u"абвгдеёжзийклмнопрстуфхцчшщъыьэюяАБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ",
                   u"abvgdeejzijklmnuprstufhzcss_y_euaABVGDEEJZIJKLMNOPRSTUFHZCSS_Y_EUA")
        tr = {ord(a):ord(b) for a, b in zip(*symbols)}
        return str(text.translate(tr))

In [56]:
brew_df_resume['venue_country']=brew_df_resume['venue_country'].apply(lambda x: translate_cyrillyc(x))

In [34]:
brew_df_resume['venue_country'].value_counts()

Belarus_         2105
Latvija            65
Lietuva            61
Russia             35
Eesti              28
0                   9
United States       2
Name: venue_country, dtype: int64

In [57]:
#Elimino el último carácter tras pasar el traductor 'Belarus_'
brew_df_resume['venue_country'] = brew_df_resume['venue_country'].map(lambda x: x.rstrip('_'))

In [58]:
brew_df_resume.head()

,checkin_id,created_at,rating_score,user_id,beer_id,beer_name,beer_style,beer_slug,brewery_name,brewery_country,brewery_city,venue_country,venue_city
0,920012809,2020,4.00,1279815,3459729,Доза [Mango + Passion Fruit],Sour - Fruited,4brewers-doza-mango-passion-fruit,4BREWERS,Russia,Vladimir,Belarus,Minsk
1,919968334,2020,4.00,1279815,3871898,Доза [Mango + Peach + Orange],Sour - Fruited,4brewers-doza-mango-peach-orange,4BREWERS,Russia,Vladimir,Belarus,Minsk
2,919919437,2020,3.75,1279815,3861542,Lobster On Acid,Sour - Fruited Gose,wild-lab-lobster-on-acid,Wild Lab,Russia,Moscow,Belarus,Minsk
3,919910138,2020,4.25,1279815,2575473,Жажда [Облепиха],Sour - Fruited Gose,4brewers-zhazhda-oblepiha,4BREWERS,Russia,Vladimir,Belarus,Minsk
4,919904871,2020,4.25,1279815,3840474,Balloon,Sour - Fruited,red-button-brewery-baloon,Red Button Brewery,Russia,Moscow,Belarus,Minsk

In [70]:
#Exporto el df a un nuevo archivo csv
brew_df_resume.to_csv(r'export_dataframe.csv', index = False, header=True)